<h1>Listing tattoos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>User</th>
    <th>Artist</th>
  </tr>

<% @tattoos.each do |tattoo| %>
  <tr>
    <td><%=image_tag tattoo.photo.url(:thumb) %></td>
    <td><%=h tattoo.title %></td>
    <td><%=h tattoo.description %></td>
    <td><%= link_to 'Show', tattoo %></td>
    <td><%= link_to 'Edit', edit_tattoo_path(tattoo) %></td>
    <td><%= link_to 'Destroy', tattoo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tattoo', new_tattoo_path %>