<p>
  <b>Title:</b>
  <%=h @tattoo.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @tattoo.description %>
</p>

<p>
	<%= image_tag @tattoo.photo.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_tattoo_path(@tattoo) %> |
<%= link_to 'Back', tattoos_path %>